svg {
    stroke: black;
}

text {
    font-size: 1em;
    pointer-events: none;
    dominant-baseline: middle;
}

path {
    fill: none;
}

line {
    stroke: grey;
}

rect {
    fill: white;
}
g.selected rect {
    fill: yellow;
}

circle {
    fill: white;
    stroke: blue;
}
g.folded circle {
    fill: blue;
    stroke: lightblue;
}

g.selected path {
    stroke-width: 3;
}