svg {
    stroke: grey;
}

text {
    pointer-events: none;
    dominant-baseline: middle;
}

path {
    fill: none;
}

rect {
    fill: white;
}
g.selected rect {
    fill: yellow;
}

circle {
    fill: white;
    stroke: blue;
}
g.folded circle {
    fill: blue;
    stroke: lightblue;
}

g.boydii path {
    stroke: red;
}

g.flexneri path {
    stroke: blue;
}

g.dysenteriae path {
    stroke: green;
}

g.sonnei path {
    stroke: orange;
}

g.ecoli path {
    stroke: black;
}

g.selected path {
    stroke-width: 3;
}