html, body {
  background-color: white;
}

form {
}

aside {
  margin-left: 2em;
  float: right;
}

#tree-container {
  clear: both;
  margin-top: 1em;
  position: relative;
}

#tree-container svg {
  border: 1px solid black;
}